.disp {
    text-align: center;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2%;
  }
  .refresh{
    text-align: center;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2%;
    background-color:  rgb(255, 0, 0); 
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }
  .button:hover{
    background-color: rgb(148, 199, 199); 
    color: rgb(0, 0, 0);
    
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    
  }

  .button:active {
    background-color:  rgb(148, 199, 199); ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button.disabled  {
    background-color:  rgb(148, 199, 199); ;
    box-shadow: 0 0px #666;
    transform: translateY(0px);
  }
  .cenetr-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
      
  }

  
.button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  .button.disabled:hover{
    background-color: gray; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    
  }

  .instruct{
    text-align: center;
    background-color:#6ca965;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0%;
  }
  .guess{
    text-align: center;
    background-color:#6ca965;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1%;
  }
  .next{
    text-align: center;
    background-color:#c8b653;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 1%;
  }

  .fin{
    text-align: center;
    background-color:#c8b653;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 1%;
  }

  .button-help{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(38, 207, 46); 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }
  .button-help:hover{
    background-color: rgb(204, 66, 24); 
    color: rgb(0, 0, 0);
    
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    
  }

  .button-help:active {
    background-color:   rgb(204, 66, 24);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button.disabled  {
    background-color:  rgb(148, 199, 199); ;
    box-shadow: 0 0px #666;
    transform: translateY(0px);
  }



  .button-close{
    display:inline ;
    width: 10px;
    height: 20px;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 1, 1); 
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 56px 5px 15px;
    padding-bottom: 5%;
    margin-left: 600px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }
  .button-close:hover{
    background-color: rgb(89, 168, 73); 
    color: rgb(0, 0, 0);
    
    border: none;
    padding: 10px 56px 5px 15px;
    padding-bottom: 5%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    
  }

  .button-close:active {
    background-color:  rgb(89, 168, 73); 
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }